<!doctype html>
<html lang="en">
<head>
    <%- include('./partials/auxiliary/head');%>
</head>
<body>
    <%- include('./partials/components/navbar');%>

    <div id="app" class="container with-nav">
        <div class="card header">
            <%- include('./partials/components/title');%>
            <%- include('./partials/components/searchForm');%>
        </div>

        <%- include('./partials/laptops/laptopList');%>
    </div>

    <%- include('./partials/auxiliary/jquery');%>
</body>
</html>
